<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | relative_url }}">


<meta name="google-site-verification" content="zbDxfh0YRwPq1EWeeACKsKFwAhHsWX9WAycure8XirE" />

{%- comment -%}
  Force l’ajout des balises OG/Twitter si le thème ne les génère pas.
  Priorité : page.header.og_image → page.header.overlay_image → page.image
{%- endcomment -%}

{%- assign og_img = page.header.og_image
                  | default: page.header.overlay_image
                  | default: page.image -%}

{%- if og_img %}
  {%- unless og_img contains '://' -%}
    {%- assign og_img = og_img | absolute_url -%}
  {%- endunless -%}

  <meta property="og:image" content="{{ og_img }}">
  <meta name="twitter:image" content="{{ og_img }}">
  <meta name="twitter:card" content="summary_large_image">
{%- endif -%}

{% seo %}
