<link rel="icon" href="/dossiers/favicon.png" type="image/png">
<meta property="og:image" content="https://ouaisfieu.github.io/dossiers/assets/img/head.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://ouaisfieu.github.io/dossiers/assets/img/head.jpg" />
<meta name="google-site-verification" content="zbDxfh0YRwPq1EWeeACKsKFwAhHsWX9WAycure8XirE" />

{%- comment -%}
  Si un champ image est défini dans le front-matter de la page, il est prioritaire.
{%- endcomment -%}
{%- assign og_img = page.header.og_image
                  | default: page.header.overlay_image
                  | default: page.image -%}

{%- if og_img %}
  {%- unless og_img contains '://' -%}
    {%- assign og_img = og_img | absolute_url -%}
  {%- endunless -%}
  <meta property="og:image" content="{{ og_img }}">
  <meta name="twitter:image" content="{{ og_img }}">
  <meta name="twitter:card" content="summary_large_image">
{%- endif -%}

{% seo %}
