/* Force le Greedy Nav à tout mettre dans le “hamburger” */
.greedy-nav .visible-links{
  max-width:0!important;flex:0 0 0!important;overflow:hidden!important;
}
.greedy-nav .navicon,
.greedy-nav .hidden-links{display:block!important;}

